<%= render "shared/nav" %>

<% if @media_files.size > 0 %>

  <% if current_user %>
    <h2>Media Files</h2>
  <%else%>
    <h2>Public Files</h2>
  <%end%>

  <div class="panel panel-table">
    <table>
      <thead class="main-table-heading">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>File</th>
          <th>File Type</th>
          <th>File Size</th>
          <% if current_user %>
            <th>Is Shared?</th>
            <th>Action</th>
          <%else%>
            <th>Shared By</th>
           <% end %>  
        </tr>
      </thead>

      <tbody class="main-table-body">
        <% @media_files.each do |media_file| %>
          <tr>
            <td> <%= media_file.title %> </td>
            <td> <%= media_file.description %> </td>
            <td> <%= link_to 'Download File', rails_blob_path(media_file.file, disposition: :attachment) %> </td>
            <td> <%= media_file.file.content_type %> </td>
            <td> <%= media_file.file_size %> </td>
            <% if current_user %>
              <td> <%= media_file.is_shared ? "Yes" : "No" %> </td>
              <td>
               <%= link_to 'Show', media_file %>
                <%= link_to 'Edit', edit_media_file_path(media_file) %>
                <%= link_to 'Remove', media_file, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
              <%else%>
                <td> <%= media_file.user.full_name %> </td>
            <% end %>    
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <% if current_user %>
    <h2>Add File</h2>
    <%= link_to 'New Media File', new_media_file_path %>
  <%end%>
<%else%>
  <% if current_user %>
    <h2>Add File</h2>
    <%= link_to 'New Media File', new_media_file_path %>
  <%else%>
    <h2>No Public Files</h2>
  <%end%>

<%end%>

