<p id="notice"><%= notice %></p>

<h1>Media File</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>File</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td> <%= @media_file.title %> </td>
        <td> <%= @media_file.description %> </td>
        <td> <%= link_to 'Download File', rails_blob_path(@media_file.file, disposition: :attachment) %> </td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_media_file_path(@media_file) %> |
<%= link_to 'My Media File List', media_files_path %>
