<%= render "shared/nav" %>

<h2>Media File</h2>

<div class="box-media">
      <div class="detail_media">
        <ul>
          <li><strong>Title </strong>
              <span>#<%= @media_file.title %></span>
            </li>
          
            <li><strong>Description </strong>
              <span> <%= @media_file.description%></span>
            </li>

            <li><strong>File </strong>
              <span> <%= link_to 'Download File', rails_blob_path(@media_file.file, disposition: :attachment)%></span>
            </li>

            <li><strong>File Type </strong>
              <span> <%= @media_file.file.content_type%></span>
            </li>

            <li><strong>File Size </strong>
              <span> <%= @media_file.file_size %></span>
            </li>

          </u>
      </div>
</div>

<%= link_to 'Edit', edit_media_file_path(@media_file), :class => "link-btn" %> |
<%= link_to 'My Media File List', media_files_path, :class => "link-btn" %>